*{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h1{
    font-weight: 600;

}
#beranda {
    height: 100vh;
    max-width: 100%;
    /* margin-top: -60px; */
}

#berita{
    height: 100vh;
  
    max-width: 100%;
    
}
#perlengkapan{
    height: 100%;
  
    max-width: 100%;
    
}

.btn.btn-danger{
    background-color: #b41c11;
    margin-top: 20px;
    padding:10px;
    border: none;
}


.gambars{
    animation: rotate 5s linear infinite;
}
@keyframes rotate {
    0% { transform: rotate(0deg) ; }
    50% { transform: rotate(20deg); }
  }

.navbar-light {
    transition: 0.2s ease-in-out;
}

/* Card Perlengkapan */

#perlengkapan .container {
    height: 100%;
}

#perlengkapan .card {
        height: 350px;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 0.1);
        align-items: center;
        overflow: hidden;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(10px);
}

#perlengkapan .card .card-icon-stay {
    opacity: 1;
    margin-top: 45%;
    overflow: hidden;
}

#perlengkapan .card:hover .card-icon-stay {
    opacity: 0;
    transition: 0.5s;
    transform: translateY(-100px);
    margin-top: 45%;
}

#perlengkapan .card .card-icon-stay .bi-icon {
    font-size: 6rem;
}

#perlengkapan .card .card-body {
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}



#perlengkapan .card:hover .card-body {
    transform: translateY(0px);
    opacity: 1;
}

#perlengkapan .card .card-body h1 {
    font-size: 5rem;
}

#perlengkapan .card h2 {
    font-size: 26px;
    font-weight: 600;
}

#perlengkapan .card p {
    font-size: 12px;
    font-weight: 300;

}

#perlengkapan .card .btn-light {
    width: 100px;
    border: none;
    border-radius: 10px;
}



  
/* responsive */
@media only screen and (max-width: 400px) {
    #perlengkapan .card {
        margin: 10px auto;
}

  }
/* @media screen (max-width:1024px) {
    
} */

